.singlebuild-roll {
  position: absolute;
  width: 100%;
  bottom: 50px;
  top: 0px;
  z-index: 5000;
}
.zc_content {
  background: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.zc_content > ul {
  width: 150px;
  position: absolute;
  right: 32px;
  bottom: 225px;
}
.zc_content > ul li {
  background: url("../public/buttons/gohx.png") no-repeat center;
  width: 165px;
  height: 37px;
  background-size: 93%;
}
/*最小宽度1024  ipad*/
@media screen and (min-height: 668px) {
  .zc_content > ul {
    bottom: 218px;
  }
}
.zc_content.show {
  display: block;
}
.zc_content.hide {
  display: none;
}
.zc_content > img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.zc_axisslide {
  /* background: #000; */
  position: absolute;
  width: 100%;
  /* height: 100%; */
  top: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
}
.zc_axisslide.show {
  display: block;
}
.zc_axisslide.hide {
  display: none;
}
.zc_centerH {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.zc_centerV {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.zc_axisslide ol {
  display: none;
  list-style-type: none;
}
.zc_axisslide img {
  position: absolute;
  width: 100%;
  top: 21%;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  border-top: 5px solid #BFA692;
  border-bottom: 5px solid #BFA692;
}
/*最小宽度1024  ipad*/
@media screen and (min-width: 1024px) {
  .zc_axisslide img {
    position: absolute;
    width: 100%;
    top: 3%;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.zc_axisslide img.show {
  visibility: visible;
  width: 100%;
}
.zc_axisslide img.hide {
  visibility: hidden;
  width: 0;
}
.zc_axisslide em.loading {
  width: 55px;
  padding: 40px 0 0 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -27px 0 0 -27px;
  background: url(../public/rollloading.gif) no-repeat 10px 0;
  z-index: 999999;
  text-align: center;
  font-size: 12px;
  color: #219edf;
  font-family: Arial;
  font-style: normal;
}
.zc_axisslide .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90px;
  height: 90px;
  margin-left: -45px;
  margin-top: -50px;
  display: none;
}
.zc_axisslide .loading span {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #333;
  font-size: 12px;
  font-family: Arial, Verdana, sans;
  text-align: center;
  line-height: 1em;
  margin-top: -0.5em;
}
.huxing-view {
  position: absolute;
  width: 100%;
  bottom: 0px;
  top: 0px;
  z-index: 5000;
}
.huxing-view .hx-select {
  position: absolute;
  display: inline-flex;
  width: 130px;
  height: 30px;
  right: 50px;
  top: 50px;
  z-index: 2;
  border: 1px solid #A5A5A5;
  border-radius: 4px;
}
.huxing-view .hx-select li {
  line-height: 30px;
  text-align: center;
  flex: 1;
}
.huxing-view .hx-select .normalpanel {
  border-right: 1px solid grey;
}
.huxing-view .hx-select .hover {
  background-color: #f0a020;
}
.select-floor {
  position: absolute;
  z-index: 1;
  right: 2px;
  top: 35%;
}
.select-floor li {
  width: 73px;
  height: 35px;
  margin-top: 19px;
  background-color: #82BDBF;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 6px 5px 2px #BFCBCC;
}
.houseType_3d {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ff4836;
}
.houseType_panel {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../public/buttons/hx_bg.jpg") no-repeat center;
  background-size: 100% 100%;
}
.houseType_panel span {
  width: 50px;
  height: 50px;
  position: absolute;
  background: url(http://localhost:63342/www/KFWeb/TemplateH5/public/buttons/spot_blue.png) no-repeat;
  background-size: 50px 1250px;
  animation: spotsSpread 1s steps(24) infinite;
  line-height: 50px;
  transform: scale(0.8);
}
.houseType_panel .yuanjing {
  left: 25%;
  top: 50%;
}
.houseType_panel .kecanting {
  left: 36%;
  top: 38%;
}
.houseType_panel .woshi {
  left: 48%;
  top: 27%;
}
.houseType_panel .yangtai {
  left: 58%;
  top: 44%;
}
@keyframes spotsSpread {
  100% {
    background-position: left -1200px;
  }
}
@-moz-keyframes spotsSpread {
  100% {
    background-position: left -1200px;
  }
}
@-ms-keyframes spotsSpread {
  100% {
    background-position: left -1200px;
  }
}
@-webkit-keyframes spotsSpread {
  100% {
    background-position: left -1200px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  list-style: none;
}
body,
html {
  overflow: hidden;
  background-color: black;
  font-family: monospace;
  height: 100%;
  width: 100%;
}
.loading {
  position: fixed;
  width: 20px;
  top: 46vh;
  left: 50vw;
  margin-left: -10px;
  z-index: 9999;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: -75px;
  display: inline-flex;
  transition: all .7s;
  background-color: rgba(50, 50, 50, 0.4);
  z-index: 8998;
}
.footer li {
  height: 70px;
  flex: 1;
  padding-top: 5px;
}
.footer li span {
  display: block;
  height: 10px;
  line-height: 10px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 12px;
  transform: scale(1.2);
  margin-top: 13px;
}
.footer li i {
  background: url(../public/buttons/menu.png) no-repeat;
  background-size: 864px 126px;
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto;
  transform: scale(2);
  margin-top: 5px;
}
.footer li .quanjingnaokan {
  background-position: 0px -52px;
}
.footer li .quanjingnaokanhover {
  background-position: 0px -20px !important;
}
.footer li .dianziloushu {
  background-position: -448px -52px;
}
.footer li .dianziloushuhover {
  background-position: -448px -20px !important;
}
.footer li .huxingjianshang {
  background-position: -384px -52px;
}
.footer li .huxingjianshanghover {
  background-position: -384px -20px !important;
}
.footer li .yangbanjian {
  background-position: -256px -52px;
}
.footer li .yangbanjianhover {
  background-position: -256px -20px !important;
}
.footer li .manyou {
  background-position: -160px -52px;
}
.footer li .manyouhover {
  background-position: -160px -20px !important;
}
.footer li .dantijianshang {
  background-position: -576px -52px;
}
.footer li .dantijianshanghover {
  background-position: -576px -20px !important;
}
.footer li .fuzhu {
  background-position: -544px -52px;
}
.footer li .fuzhuhover {
  background-position: -544px -20px !important;
}
.advser-header {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -50px;
  overflow: hidden;
  transition: all .7s;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  z-index: 4000;
}
.advser-header .header-user {
  display: flex;
  justify-content: space-between;
}
.advser-header .header-user .header-avater {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  position: relative;
  background-size: cover;
}
.advser-header .header-user .header-avater .header-certification {
  position: absolute;
  bottom: 0;
  right: -5px;
  width: 10px;
  height: 10px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAACK0lEQVQ4jaVUv09TURT+7n333fZRhNAS0sGQQohDQzo1sMDGIIhTF3Fr4kDs5OCC4R/gR5wwDCbdRCYTo8a/QELSOkDo4IAOhjQN2Kh9P3jvvnscsM+84o8Ev/F83/nuOeeee4EeEFGawmBFe+1DrTybiEgrz9Ze+5DCYIWI0r05LGYQ+hUQrQetmuE1qlI196HdM3ArA5GdRjJf9s2RYgjGHjJDbl0y0f73JyC69+3tXdP/+Kr3sAhybBEDN58FYOwpl9fuRyYU+hVS3uP286IZtj/80aALY+gGhu7UAiaSD5ghtxgRpRH6n7++Lll/q+BSRbkFDC6+cGHI6xxaLQetmtE1ENkpJCZKv01MTJQgslMAAP/TGwStmgGtljkFnSWvUZVdoVWoYGBhFyIzGTMQmUkMLOzCKlSimNeoSgo6SxzCGlfN/Yhw328CjCM1sxYzSc2sAYxf8D+hmvuAsMY5MxJ92j37RZwewDuqQubmIUfnLvofnYPMzcM7qkKdHkRa7Z6BGYk+TuG5w61M7FR7bxWkHKRmNwEukJrdBCkH9t5qTMetDCg8dziUeyyy0zFS2ydw6xsQwwUM3n4JMVyAW9+Atk/ic8pOA8o95szs30nmy37vTTj1dWinCZmbh3aacOrrvRIk82Wfmf07HFxsmyPFUI4txgQUdKLy7XePQEEnxsuxWzBHiiG42P7nxhrpPMIvjXisd2OjOfzv24lauOIrvoSr/Cc/AMpmN1x44YOhAAAAAElFTkSuQmCC);
  background-size: cover;
}
.advser-header .header-user .header-userinfo {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.advser-header .header-user .header-userinfo div {
  display: flex;
  margin-left: 11px;
  align-items: center;
}
.advser-header .header-user .header-userinfo div > span {
  transform: scale(0.8);
  transform-origin: left center;
  letter-spacing: 1px;
  text-indent: 1px;
  margin-left: 0px;
  color: white;
}
.advser-header .header-user .header-userinfo > span {
  font-size: 14px;
  line-height: 16px;
  width: 35vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  padding-left: 10px;
}
.advser-header .header-connection {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  height: 34px;
  list-style: none;
}
.advser-header .header-connection hr {
  width: 1px;
  height: 50px;
  background-color: #fff;
  display: block;
  margin: 0 5px;
  transform: scale(0.3);
  transform-origin: center;
}
.advser-header .header-connection li {
  width: 32px;
  height: 32px;
  transform: scale(1.4);
  transform-origin: center;
}
.advser-header .header-connection .icon1 {
  background: url(../public/buttons/headmenu.png);
  background-size: 256px;
  background-position: 0 160px;
}
.advser-header .header-connection .icon2 {
  background: url(../public/buttons/headmenu.png);
  background-size: 256px;
  background-position: -32px 160px;
}
.advser-header .header-connection .icon3 {
  background: url(../public/buttons/headmenu.png);
  background-size: 256px;
  background-position: -64px 160px;
}
/*
*楼书页面
*/
.slider-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.swiper-container {
  height: 100%;
}
.swiper-slide {
  background: #fff;
}
.swiper-slide span {
  text-align: center;
  display: block;
  margin: 20px;
  font-size: 21px;
}
/*辅助工具页面*/
.helpTools {
  position: absolute;
  width: 17%;
  z-index: 5000;
  right: 0;
  bottom: 54px;
}
.helpTools li {
  height: 40px;
  background-color: rgba(8, 6, 6, 0.5);
  color: #ffffff;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}
