<div class="slider-container">
    <div class="views">
        <div class="view view-main">
            <div class="pages">
                <div class="swiper-container swiper-vertical" data-ng-init="init()">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <span  class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">Slide 1</span>
                        </div>
                        <div class="swiper-slide">
                            <span style="background: url('./public/1_02.png') no-repeat center;width: 50px;height: 200px;background-size: 50%" class="ani" swiper-animate-effect="flipInX" swiper-animate-duration="1.5s" swiper-animate-delay="0.3s"></span>
                        </div>
                        <div class="swiper-slide">
                            <span class="ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">Slide 3</span>
                        </div>
                        <div class="swiper-slide">
                            <span class="ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">Slide 4</span>
                        </div>
                        <div class="swiper-slide">
                            <span class="ani" swiper-animate-effect="hinge" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">Slide 5</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

